.navbar {
    position: relative;
    top: 60px;
    text-align: center;
    padding: 20px;
}

.ligas-nav {
    position: relative;
    top: 60px;
    background-color: #00A651 ;
    padding: 10px 0;
}

.ligas-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.ligas-nav ul li {
    display: inline;
    margin-right: 15px;
}

.ligas-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.ligas-nav ul li a:hover {
    text-decoration: underline;
}

#search {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
}

main {
    position: relative;
    top: 60px;
    padding: 20px;
}

#news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.news-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: calc(33% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item h3 {
    margin: 0 0 10px;
}

.news-item p {
    margin: 0;
}

