*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #E30613;
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 10000;
    
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header nav ul li {
    padding: 7px;
}
header nav a {
    text-decoration: none;
    color: #FFFFFF;
}